body {
  font-family: Arial, sans-serif;
}

h1, h2 {
  margin-bottom: 10px;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95vw;
}

section {
  margin-bottom: 20px;
  padding-bottom: 10px;
  width: 15%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

article {
  margin-bottom: 5px;
  height: 60px;
  overflow-y: auto;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 2%;
  padding: 10px;
  display: flex;
  align-items: center; 
  width: 100%;
  justify-content: space-between;
}

.article-image {
  width: 25px;
  height: 25px;
}

.container-form {
  top: 50%;
  transform: translateY(50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 40%;
  height: 60%;
  margin: 0 auto;
}

.form-title {
  padding-bottom: 5%;
}

.container-form form {
  height: auto; 
  margin: 0 auto;
}

.form-field {
  text-align: center;
  padding-bottom: 2.5%;
}

.form-label,
.text-muted {
  padding: 2.5%;
  font-family: "Roboto", sans-serif;
  color: #333;
  text-align: center;
}

.form-control {
  font-family: "Roboto", sans-serif;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn-primary {
  background-color: transparent; /* No button background */
  color: #000; /* Black text color */
  border: 1px solid #000; /* Black border */
  border-radius: 4px;
  padding: 10px 20px;
}

.text-muted a {
  color: #4285F4;
}

.btn-primary:hover {
  cursor: pointer;
  background-color: #ddd; /* Light gray background on hover */
}

.form-label {
  text-align: center;
}

.form-control {
  margin: 0 auto;
}

.invalid-feedback {
  color: #ee6464;
}

.header {
  background-color: #fff; /* White background */
  color: #000; /* Black text color */
  padding: 15px 20px;
  display: flex;
  align-items: center; /* Vertically align elements in the center */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Title styles */
.header-title {
  font-size: 22px;
  font-weight: bold;
  margin-right: 20px; /* Space between title and buttons */
  font-family: 'Roboto Condensed', sans-serif; /* Example font */
}

/* Button styles */
.header-buttons {
  display: inline-flex; /* Inline buttons for horizontal alignment */
}

.btn-header {
  background-color: transparent; /* No button background */
  color: #000; /* Black text color */
  border: 1px solid #000; /* Black border */
  padding: 5px 12px;
  border-radius: 5px;
  margin-left: 10px; /* Space between buttons */
  cursor: pointer;
  text-decoration: none; /* Remove underline on hover */
}

.btn-header:hover {
  background-color: #ddd; /* Light gray background on hover */
}