<!DOCTYPE html>
<html>
<head>
    <title>News Aggregator</title>
</head>
<body>

    <h1>Hacker News Articles</h1>
    <ul>
        {% for article in hacker_news_articles %}
        <li><a href="{{ article.url }}">{{ article.title }}</a></li>
        {% endfor %}
    </ul>

    <h1>BBC News Articles</h1>
    <ul>
        {% for article in bbc_news_articles %}
        <li><a href="{{ article.url }}">{{ article.title }}</a></li>
        {% endfor %}
    </ul>

    <h1>CNN News Articles</h1>
    <ul>
        {% for article in cnn_news_articles %}
        <li><a href="{{ article.url }}">{{ article.title }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>