{% extends "base.html" %}

{% block content %}
  {% for source_name, articles in news_sources.items() %}
    {{ article_section(source_name, articles) }}
  {% endfor %}
{% endblock %}

{% macro article_section(source_name, articles) %}
  <section id="{{ source_name }}-section">
    <h1>{{ source_name }} Articles</h1>
    <ul>
      {% for article in articles %}
        <article>
          <a href="{{ article.url }}">{{ article.title }}</a>
          {% include 'article_sentiment.html' %}
        </article>
      {% endfor %}
    </ul>
  </section>
{% endmacro %}
