<!--  -->

{% extends 'base.html' %}

{% block content %}
<div class="container-form">
  <h1 class="form-title">Login</h1>
  <form method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="form-field">
      {{ form.username.label(class="form-label") }}
      {% if form.username.errors %}
        {{ form.username(class='form-control is-invalid') }}
      {% else %}
        {{ form.username(class='form-control') }}
      {% endif %}
      {% for error in form.username.errors %}
        <div class="invalid-feedback">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="form-field">
      {{ form.password.label(class="form-label") }}
      {% if form.password.errors %}
        {{ form.password(class='form-control is-invalid') }}
      {% else %}
        {{ form.password(class='form-control') }}
      {% endif %}
      {% for error in form.password.errors %}
        <div class="invalid-feedback">{{ error }}</div>
      {% endfor %}
    </div>
    <div class="form-field">
        {{ form.submit(class="btn btn-primary w-100 mb-5", role="button") }}
    </div>
    <div class="text-muted">Don't have an account? <a href="{{ url_for('signup') }}">Signup</a></div>
  </form>
</div>
{% endblock %}