{% extends "base.html" %}

{% block content %}
    <div class="container-form mx-auto w-100 border rounded-2">
        <h1 class="form-title">Sign Up</h1>
        <!--Form-->
        <form method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-field">
                <!--Label-->
                {{ form.username.label(class="form-label") }}
                <!--Field-->
                {% if form.username.errors %}
                    {{ form.username(class='form-control is-invalid') }}
                {% else %}
                    {{ form.username(class='form-control') }}
                {% endif %}
                <!--Errors-->
                {% for error in form.username.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="form-field">
                <!--Label-->
                {{ form.email.label(class="form-label") }}
                <!--Field-->
                {% if form.email.errors %}
                    {{ form.email(class='form-control is-invalid') }}
                {% else %}
                    {{ form.email(class='form-control') }}
                {% endif %}
                <!--Errors-->
                {% for error in form.email.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>


            <div class="form-field">
                <!--Label-->
                {{ form.password.label(class="form-label") }}
                <!--Field-->
                {% if form.password.errors %}
                    {{ form.password(class='form-control is-invalid') }}
                {% else %}
                    {{ form.password(class='form-control') }}
                {% endif %}
                <!--Errors-->
                {% for error in form.password.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="form-field">
                <!--Label-->
                {{ form.password_repeat.label(class="form-label") }}
                <!--Field-->
                {% if form.password_repeat.errors %}
                    {{ form.password_repeat(class='form-control is-invalid') }}
                {% else %}
                    {{ form.password_repeat(class='form-control') }}
                {% endif %}
                <!--Errors-->
                {% for error in form.password_repeat.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
            <!--Submit button-->
            {{ form.submit(class="btn btn-primary w-100 mb-5", role="button") }}
            <!--Signup-->
            <div class="text-muted">Already have an account? <a href="{{ url_for('login') }}">Login</a></div>
        </form>
    </div>
{% endblock %}